.main
{
    margin-top: 25px;
    margin: auto;
    height: 125px;
    width: 1112px;
    background-image: url("../image/body-bg.png");
}

.img
{
    margin-left: 80px;
    height: 68px;
    width: 952px;
    background-image: url("../image/utp.png");
} 

.p1
{
    margin: 15px 80px 0px 80px;
    border-bottom:2px solid #dbe4e7;
}

.button
 {
    text-align: center;
    padding: 8px 10px;
    color: black;
    background:#F3F6F7;
    border:0px;
    font-weight: 600;
}
.button1 
{
    text-align: center;
    padding: 8px 10px;
    color: black;
    background:#dbe4e7;
    border:0px;
    font-weight: 600;
}

.button:hover 
{
    color: black;
    background: #dbe4e7;
}



